@model IEnumerable<LessonJoinGradeModel>

@{
    ViewData["Title"] = "GetAll";
}



<p>
    <a asp-controller="Lesson" asp-action="Create" class="btn btn-lg btn-outline-primary">Ders Ekle</a>
</p>
<br />

<h3>Ders Listesi</h3>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Ders İsmi</th>
            <th>Dersin Sınıfı</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.LessonName</td>
                <td>@item.GradeName</td>
                <td>
                    <a asp-action="Edit" asp-controller="Lesson" asp-route-id="@item.Id" class="btn btn-outline-info btn-group-lg">Güncelle</a>
                    <a data-whatever="@item.Id" class="btn btn-outline-danger btn-group-lg" data-target="#deleteToGrade" data-toggle="modal">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
<div class="pagination" style="text-align:right">
    @for (int i = 1; i <= (int)ViewBag.TotalPage; i++)
    {
        <div class="page-item @(ViewBag.ActivePage==i?"active":"")">
            <a asp-action="GetAll" asp-controller="Lesson" asp-route-activePage="@i" class="page-link">@i</a>
        </div>
    }

</div>


<!-- DeletModel -->
<div class="modal fade" id="deleteToGrade" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ders Silme Ekranı</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                Seçmiş olduğunuz dersi silmek istediğinizden eminmisiniz?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="close" data-dismiss="modal">Kapat</button>
                <button type="button" id="btnSil" class="btn btn-primary">Evet Sil</button>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script type="text/javascript">

        $("#deleteToGrade").on("show.bs.modal", function (e) {
            let button = $(e.relatedTarget);
            let id = button.data("whatever");

            $("#btnSil").click(function () {
                window.location.href = "http://localhost:53479/Lesson/Delete/" + id;
            });

        });

    </script>
}
